
.box{
    width: 200px;
    height:200px;
}
.absolute{
    position: absolute;
    background-color: aquamarine;
    top: 20px;
    left: 20px;
} 

.relative{
    position: relative;
    background-color: rgb(228, 109, 11);
    top: 20px;
    left: 20px;
}

.fixed{
    position: fixed;
    background-color: rgb(226, 246, 14);
    top: 20px;
    left: 20px;
}

.static{
    position: static;
    background-color: rgb(107, 25, 229);
    top: 20px;
    left: 20px;
}